<div class="topbar small-12 medium-8 large-6 small-centered columns row">
  <h2>QUESTION</h2>
  <h1><%= @question.text %></h1>
</div>

<div class="spacer"></div>

<% if @options %>
  <% @options.each do |option| %>
    <div class="tile">
      <h1><%= option.text %></h1>
      <% if option.notes %>
        <p><%= option.notes %></p>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= render 'layouts/flash_messages' %>

<form class="new_option" id="new_option" action="/questions/<%= @question.id %>/options" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="authenticity_token" value="OfVVskwfI/bkUd0zp6qIasx6sFSVWK1wdLUABoFEMsqBNPcpfPiesUAyBRDF9leT233brtYPK52U5XahUUKmuA==">

  <div class="tile">
    <h1><input placeholder="Enter an Option" value="<%= @option.text %>" type="textarea" name="option[text]" id="option_text"></h1>
    <p><input placeholder="Add a note if you’d like" value="<%= @option.notes %>" type="textarea" name="option[notes]" id="option_notes"></p>
  </div>

  <div class="tile">
    <h1><input type="submit" name="commit" value="+" data-disable-with="+"></h1>
  </div>
</form>

<% if @options.count < 2 %>
  <div class="center">
    <h2 class="tip">Add at least two options.</h2>
  </div>
<% else %>
  <div class="center">
    <h2 class="button"><%= link_to "Launch Question", question_path(@question) %></h2>
  </div>
<% end %>
