<div class="question-header small-12 medium-8 large-6 small-centered columns row">
  <h1>QUESTION</h1>
  <h2><%= @question.text %></h2>
</div>

<div class="empty-div"></div>

<% if @options %>
  <% @options.each do |option| %>
    <div class="option-tile">
      <%= option.text %>
      <p><%= option.notes %></p>
    </div>
  <% end %>
<% end %>

<%= render 'layouts/flash_messages' %>

<form class="new_option" id="new_option" action="/questions/<%= @question.id %>/options" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="authenticity_token" value="OfVVskwfI/bkUd0zp6qIasx6sFSVWK1wdLUABoFEMsqBNPcpfPiesUAyBRDF9leT233brtYPK52U5XahUUKmuA==">

  <div class="form-tile">
    <input placeholder="Enter an Option" value="<%= @option.text %>" type="textarea" name="option[text]" id="option_text"><br>
    <input placeholder="Add a note" value="<%= @option.notes %>" type="textarea" name="option[notes]" id="option_notes">
  </div>

  <div class="form-tile">
    <input type="submit" name="commit" value="+" data-disable-with="+">
  </div>
</form>

<% if @options.count < 2 %>
  <div class="tooltip">
    <h1>ENTER AT LEAST TWO OPTIONS.</h1>
  </div>
<% else %>
  <h1><%= link_to "LAUNCH QUESTION", question_path(@question) %></h1>
<% end %>
