<% if @question.status == "open" %>
  <div class="tile">
    <h2>Close Question</h2>
    <h1><%= @question.text %></h1>

    <%= render 'layouts/flash_messages' %>

    <form class="edit_question" id="edit_question_<%= @question.id %>" action="/questions/<%= @question.id %>" accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="✓">
      <input type="hidden" name="_method" value="patch">
      <input type="hidden" name="authenticity_token" value="ESA4PmO4NwqRRmoCEWRbxrgwJEecAXrBieQ9ARvAsp2p4ZqlU1+KTTUlsiFzOIQ/rzdPvd9W/CxptEumy8Ym7w==">

      <br>

      <div>
        <h2><label for="question_passcode">Enter Passcode</label></h2>
        <h1><input placeholder="• • • •" value="" type="number" name="question[passcode]" id="question_passcode"></h1>
      </div>

      <div class="center">
        <h2><input type="submit" name="commit" value="Close Question" data-disable-with="Close Question" class="button orange"></h2>
      </div>
      <h2><%= link_to "Return to Question", question_path(@question) %></h2>
    </form>
  </div>
<% else %>
  <div class="tile">
    <h2>Question Results</h2>
    <h1><%= @question.text %></h1>

    <br>

    <% if @question.result.length < 2 %>
      <h2>Winner</h2>
      <h1><%= @question.result[0] %></h1>
    <% else %>
      <h2>Tie</h2>
      <% @question.result.each do |winner| %>
        <h1><%= winner %></h1>
      <% end %>
    <% end %>

    <br>

    <h2><%= link_to "See Details", question_details_path(@question) %></h2>
  </div>
<% end %>
